{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}

<ul>

{% for currentArticle in allNews.articles %}

<li>{{ currentArticle.title }}</li>

{% endfor %}

</ul>

{% endblock %}
