{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}

<ul>

{% for currentSource in sources.sources %}

<li>{{ currentSource.name }}</li>

{% endfor %}

</ul>

{% endblock %}